* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --homepage-gradient-color: #00000080;
    --homepage-font: 'DM Sans';
    --movie-page-font: 'Poppins';
    --bold: 700;
    --medium: 500;
    --regular: 400;
    --extra-light: 200;
    --white: #ffff;
    --secondary-color: #BE123C;
    --secondary-color-RGBA: #BE123C1A;
    --movie-page-grey:#666666;
    --homepage-grey: #9CA3AF;
}